@model List<Othello.Models.Pieza>
@{
    Layout = null;

    int contador = 0;
    string[] letras = { "A", "B", "C", "D", "E", "F", "G", "H" };

    TempData["turno"] = "negro";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Sala J VS IA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="~/Stock/OthelloIcon.png" />
    <link rel="stylesheet" type="text/css" href="~/Content/Tablero.css" />
</head>
<body>
    <div class="row">
        <div class="col" id="Tablero">
            @using (Html.BeginForm(actionName: "CambioFicha", controllerName: "Partida"))
            {
                <div id="fila">
                    <div class="caja-transparente"></div>
                    @{
                        for (int i = 1; i < 9; i++)
                        {
                            <div class="caja-decorativa">@i</div>
                        }
                    }
                    <div class="caja-transparente"></div>
                </div>

                <div class="fila">
                    @{
                        for (int i = 0; i < letras.Length; i++)
                        {
                            <div class="caja-decorativa">@letras[i]</div>
                            for (int j = 0; j < 8; j++)
                            {

                                if (contador == 27)
                                {
                                    <button type="submit" value="@contador" class="caja" name="io">
                                        <div class="inside black @{Model[contador].Color = "black";}"></div>
                                    </button>
                                }
                                else if (contador == 28)
                                {
                                    <button type="submit" value="@contador" class="caja" name="io">
                                        <div class="inside white @{Model[contador].Color = "white";}"></div>
                                    </button>
                                }
                                else if (contador == 35)
                                {
                                    <button type="submit" value="@contador" class="caja" name="io">
                                        <div class="inside white @{Model[contador].Color = "white";}"></div>
                                    </button>
                                }
                                else if (contador == 36)
                                {
                                    <button type="submit" value="@contador" class="caja" name="io">
                                        <div class="inside black @{Model[contador].Color = "black";}"></div>
                                    </button>
                                }
                                else
                                {
                                    <button type="submit" value="@contador" class="caja" name="io">
                                        <div class="inside @Model[contador].Color"></div>
                                    </button>
                                }
                                contador++;
                            }
                            <div class="caja-decorativa">@letras[i]</div>
                        }
                    }
                </div>

                <div id="fila">
                    <div class="caja-transparente"></div>
                    @{
                        for (int i = 1; i < 9; i++)
                        {
                            <div class="caja-decorativa">@i</div>
                        }
                    }
                    <div class="caja-transparente"></div>
                </div>
            }
        </div>
    </div>
</body>
</html>
