@model Othello.Models.TableroNormal
@{
    Layout = null;
    string usuario;
    usuario = System.Web.HttpContext.Current.Session["login"].ToString();
    List<string> listaJuego = new List<string>();
    listaJuego.Add("Reto Normal");
    listaJuego.Add("Reto inverso");
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Menú PrePartida</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/Prepartida.css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Stock/OthelloIcon.png" />
</head>
<body>
    <div class="container-fluid bg">
        <div class="row justify-content-center">
            <div class="col-10 col-sm-10 col-md-5 bg-dark border-danger">
                <p class="h5 text-center text-white">Configuración de la Sala</p>
                <br />
                @using (Html.BeginForm("Tablero", "Menu", FormMethod.Post))
                {
                    @Html.TextBoxFor(model => model.nombreJ1, new { @class = "form-control", @type = "text", @placeholder = usuario })
                    <br />
                    @Html.TextBoxFor(model => model.nombreJ2, new { @class = "form-control", @type = "text", @placeholder = "Jugador 2:" })
                    <br />
                    @Html.LabelFor(model => model.modo, "Seleccione el modo de juego:")
                    <select class="form-control" data-val="true" id="modo" name="modo">
                        <option value="">Seleccione uno:</option>
                        @foreach (var a in listaJuego)
                        {
                            <option value="@a">@a</option>
                        }
                    </select>
                    <input type="submit" class="btn-primary btn-block" value="J vs IA" />
                    <a href="~/Menu/Inicio" class="btn btn-primary btn-block">Regresar al Menú</a>
                }
            </div>
        </div>
    </div>
</body>
</html>
